html body {
    font-size: 12px;
    background: #ffffff;
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
    color: #ffffff;
}
body, td {
    line-height: normal;
}
a {
    color: #4ba6ec;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.clear  { clear: both; }
.hidden { display: none; }


#mainwrapper {
   margin: 0 auto;
   padding: 0;
   width: 1080px;
}

#formwrapper {
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   background: url('images/form-bg.png') repeat-x 0 0 #79e181;
   padding: 1px 0 40px;
   min-height: 600px;
   margin: 0;
}
#header {
   margin-top: 10px;
}

#mainlogo {
   width: 290px;
   height: 40px;
   background: url('images/lander.png') no-repeat -328px -151px transparent;
   display: block;
   margin: 0 0 3px 50px;
   text-indent: -9999px;
   color: #ffffff;
   float: left;
}
#maintag {
   display: block;
   float: right;
   margin: 18px 50px 0 0;
   background: url('images/lander.png') no-repeat -328px -191px transparent;
   width: 251px;
   height: 19px;
   text-indent: -9999px;
}
#banks {
   height: 131px;
   width: 650px;
   background: url('images/lander.png') no-repeat 0 0 transparent;
   float: left;
   margin: 10px 0 0 30px;
}
#addr {
    background: url("images/lander.png") no-repeat scroll 0 -131px transparent;
    float: right;
    height: 81px;
    margin: 10px 30px 0 0;
    padding: 24px 0 0 107px;
    width: 221px;
    color: #666666;
    font-size: .9em;
}
#disclaimer {
   margin: 10px 0 0 0;
   color: #999999;
   font-size: 0.8em;
   padding: 5px 30px 0;
}
#footer {
   margin: 15px auto;
   color: #666666;
   text-align: center;
}
#footerhr {
   border: 0;
   height: 0;
   border-top: #cccccc solid 1px;
   width: 40%;
}
#formbanner {
   float: left;
   width: 340px;
   margin: 0 0 0 50px;
   font-size: 16px;
}
#formbox {
   float: right;
   width: 605px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   background-color: #ffffff;
   -webkit-box-shadow: 0px 5px 6px 0px rgba(50, 50, 50, 0.5);
   -moz-box-shadow:    0px 5px 6px 0px rgba(50, 50, 50, 0.5);
   box-shadow:         0px 5px 6px 0px rgba(50, 50, 50, 0.5);
   margin: 0 50px 0 0;
   position: relative;
}
h1 {
   font-size: 46px;
   text-align: center;
   font-weight: bold;
   color: #ffffff;
   text-shadow: 0px 2px 2px rgba(102, 102, 102, 1);
   margin: 20px 0;
   padding: 0;
}
h2 {
   font-size: 24px;
   margin: 10px 0;
   padding-top: 0;
}
.boldyellow {
   font-weight: bold;
   color: #fffc00;
}
#fasteasy {
   margin: 0 0 40px 0;
   list-style: none;
   padding: 0;
}
#fasteasy li {
   padding: 1px 0 10px 30px;
   margin-bottom: 3px;
   background-image:  url("images/lander.png");
   background-repeat: no-repeat;
}
#fe1 { background-position: -650px 0; }
#fe2 { background-position: -650px -57px; }
#fe3 { background-position: -650px -112px; }

.btnC, .btnF {
   background-image:  url("images/lander.png");
   background-repeat: no-repeat;
   display: block;
   height: 80px;
   width: 316px;
   margin: 0 auto 10px;
}
.btnC       { background-position: 0 -236px;  }
.btnC:hover { background-position: -316px -236px;  }
.btnF       { background-position: 0 -318px;  }
.btnF:hover { background-position: -316px -318px;  }

.backctr {
   text-align: center;
   margin: 0 0 0 0;
}

.questionset {
   margin: 0 0 15px 0;
   min-height: 280px;
}
.questionset:after {
  content: "";
  display: table;
  clear: both;
}

.formq {
   clear: both;
}
div.formq input[type="text"],
div.formq select
{
    display: block;
    float: right;
    font-size: 22px;
    margin: 6px 40px 1px 0;
    padding: 4px;
    width: 325px;
    border: #cccccc solid 1px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div.formq input[type="text"].error,
div.formq select.error
{
    border: #cc0000 solid 1px;
}

.fieldnote {
    color: #4BA6EC;
    display: block;
    float: right;
    font-size: 11px;
    font-style: italic;
    margin: 0 40px 0 0;
    width: 325px;
}

.formq label {
    color: #999999;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 16px 0 0 40px;
    max-width: 190px;
}
.formq label.lglbl {
    padding: 6px 0 0 40px;
}
.formq label.error {
    color: #cc0000;
    float: none;
    font-size: 12px;
    font-weight: bold;
    padding: 0 50px 0 0;
}
.formq div.errlbl {
    text-align: right;
    clear: both;
    height: 16px;
    max-height: 16px;
}
#upsquestionform .formq label {
    padding: 16px 0 0 0 !important;
}
#upsquestionform div.formq input[type="text"], #upsquestionform  div.formq select {
   width: 360px !important;
}

.qhead {
   text-align: center;
   color: #666666;
   font-weight: bold;
   font-size: 26px;
   margin: 20px 0 0;
}
.qsecure {
   width: 296px;
   height: 20px;
   float: right;
   margin: 10px 42px 5px 0;
   background: url("images/lander.png") no-repeat scroll -327px -131px transparent;
}

.birthdatepicker {
   float: right;
   margin: 0 40px 0 0;
   width: 325px;
}
.birthdatesel {
    width: 100px !important;
    float: left !important;
    margin-right: 6px !important;
}



#fcadisc {
   text-align: center;
   color: #aaaaaa;
   width: 300px;
   float: left;
   margin: 0 0 0 153px;
}

#fca {
   width: 56px;
   height: 30px;
   float: right;
   margin: 3px 65px 0 0;
   background: url("images/lander.png") no-repeat scroll -579px -191px transparent;
}
#finaldisc {
   margin: 15px 0 30px;
}

.tyform {
   color: #666666;
   padding:  1px 50px 40px;
   font-size: 14px;
}
.tyhead {
   font-size: 32px;
   text-align: center;
   font-weight: bold;
   color: #666666;
   text-shadow: none;
   margin: 30px 0 20px;
   padding: 0;
}
.tylist li {
   padding: 0 0 5px 0;
}
a.goback {
   font-size: 150%;
   margin: 40px auto 0;
   display: block;
   text-align: center;
}
#upsright {
    float: left;
    padding: 0 0 5px;
    width: 640px;
}
#upsleft {
    float: left;
    padding: 20px 0 0 20px;
    width: 145px;
}
div.upsell {
   margin: 20px 0;
   background-color: #f3f3f3;
}
#btnUps {
   padding:10px 20px;
   background-color:#f69101;
   color: #ffffff;
   font-weight: bold;
   border:0 none;
   cursor:pointer;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   display: block;
   width: 40px;
   margin: 5px 0 0 0;
   text-align: center;
}
#upsSubmit {
   padding:10px 20px;
   background-color:#f69101;
   color: #ffffff;
   font-weight: bold;
   border:0 none;
   cursor:pointer;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   display: block;
   margin: 20px 0 10px 0;
   text-align: center;
}
#btnUps:hover,
#upsSubmit:hover {
   background-color:#f5b200;
   text-decoration: none;
}

#upsquestionform {
   margin-top: 10px;
   border-top: #DDDDDD dotted 2px;
   padding: 10px;
}


.fullwidth {
   float: none !important;
   width: 85% !important;
   margin: 0 auto !important;
}


/** BEGIN MEDIA QUERIES  **/
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px){
   #mainwrapper {
       width: 900px !important;
   }
   #addr {
      width: 190px !important;
      margin: 10px auto !important;
      float: none !important;
   }
   #banks {
      margin: 10px auto !important;
      float: none !important;
   }
   #formbanner {
       margin: 0 0 0 20px !important;
       width: 220px !important;
   }
   #formbox {
       margin: 0 30px 0 0 !important;
       width: 605px !important;
   }
}
.arrow {
  display: block;
  position: absolute;
  width: 183px;
  height: 184px;
  background: url(images/arrow-edit2.png") no-repeat;
  top: 210px;
  left: -35px;
}

